.loaddingContainer {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #121212;
  position: absolute;
}

.toolsFuntion {
  position: absolute;
  top: 0;
  display: flex;
  align-self: center;
  justify-content: flex-start;
  box-sizing: border-box;
  width: auto;
  height: 72px;
  padding-top: 40px;
  padding-left: 40px;
}

.toolsSettings {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-self: center;
  justify-content: flex-end;
  box-sizing: border-box;
  width: auto;
  height: 72px;
  padding-top: 40px;
  padding-right: 40px;
}

.toolsWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-self: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 72px;
  padding-bottom: 86px;
}

.presentWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-self: center;
  justify-content: start;
  box-sizing: border-box;
  width: 20%;
  height: 25%;
  padding-bottom: 25px;
  padding-right: 15px;

  .right {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    right: 0;
    padding-right: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px 28px;
  }
  .left {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px 28px;
  }
}